
.BodyBook{
    background-color:#660066;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:90%/ 45% 50%;
    align-items: center;
    padding-top: -10%;
    
}
.imgBook{
    height: 100%;
    width: 100%;
}
.infoBook{
    
    height: 80%;
    width: 100%;
    display: grid;
    grid-template:20% 5% 6% 60%/ 95%;
    padding-left: 5%;
    padding-right: 5%;
    background-color:white;
    justify-content: center;
    text-align: left;
    align-content: center;

}
.bodyInfo{
    height: 100%;
    overflow: hidden;
    overflow-y:scroll;
}
.bodyOpi{
    height: 70%;
    width: 98%;
}
.titleBook{
    font-size: 300%;
}
.opinionesRow{
    height: 99%;
    width: 98%;
    overflow: hidden;
    overflow-y:scroll;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

}
.CardOpi{
    border: 3px ridge purple;
    height: 60%;
    width: 90%;
    margin-bottom: 3%;
    padding-right: 1%;
    margin-right: 1%;

}
.titleOpi{
    height: 40%;
    display: grid;
    justify-content: center;
    align-items: center;
    
    grid-template:85% 5%/ 100%;

}
.Opinar{
    height: 100%;
    width: 100%;
    margin-left: 10%;
    display: grid;
    grid-template:100%/ 60% 40%;
    justify-content: center;
    align-items: center;
}
.DescCardOpi{

    
    height: 70%;
    width: 90%;
    display: grid;
    grid-template:10% 30% 60%/ 99%;
}
.DescpO{
    height: 100%;
    overflow: hidden;
    overflow-y:scroll;
}
.date{
    width: 90%;
    height: 100%;
    font-size: 70%;
    margin-top: -0%;
    align-items: center;
    text-align: center;
    align-content: start;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template:99%/ 50% 50%;

}

